language: cpp

os: linux
sudo: false
dist: trusty

env:
  global:
    - DEVKITPRO=/opt/devkitpro    
    - DEVKITARM=/opt/devkitpro/devkitARM
    
cache:
  directories:
    - "$HOME/.local"
    - "$DEVKITPRO"

before_install:
  - curl -L https://github.com/devkitPro/pacman/releases/download/devkitpro-pacman-1.0.1/devkitpro-pacman.deb -o pacman.deb
  - sudo apt-get install -y p7zip-full

install:
  - sudo dpkg -i pacman.deb
  - sudo dkp-pacman -Sy
  - sudo dkp-pacman -S devkitARM general-tools dstools ndstool libnds libfat-nds grit mmutil --noconfirm
  - export DEVKITPRO=/opt/devkitpro
  - export DEVKITARM=${DEVKITPRO}/devkitARM

script:
  - export COMMIT_TAG="$(git log --format=%h -1)"
  - export COMMIT_MESSAGE="$(git log --pretty=format:"%an - %s" -1)"
  - mkdir Relaunch/
  - mkdir Relaunch/Flashcart/
  - mkdir Relaunch/3DS/
  - mkdir Relaunch/DSi/
  - rm '7zfile/_nds/Relaunch/placeholder_file'
  - cp '7zfile/*' 'Relaunch/Flashcart'
  - cp '7zfile/*' 'Relaunch/3DS'
  - cp '7zfile/*' 'Relaunch/DSi'
  - make Flashcart
  - mv 'menu/menu.nds' 'Relaunch/Flashcart/_nds/Relaunch/menu.bin'
  - mv 'main/Relaunch.nds' 'Relaunch/Flashcart/Relaunch.nds'
  - make clean
  - make 3DS
  - mv 'menu/menu.nds' 'Relaunch/3DS/_nds/Relaunch/menu.bin'
  - mv 'main/Relaunch.cia' 'Relaunch/3DS/Relaunch.cia'
  - make clean
  - make DSi
  - mv 'menu/menu.nds' 'Relaunch/DSi/_nds/Relaunch/menu.bin'
  - mv 'main/Relaunch.nds' 'Relaunch/DSi/Relaunch.nds'
  - 7z a Relaunch.7z Relaunch/

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gcc-4.9
    - g++-4.9
    - libstdc++6
    - lftp

after_success:
  - echo 'yummy breakfast :3 (Build Successful)'
  - git config --local user.name "TWLBot"
  - git clone --depth 1 https://$GITHUB_TOKEN@github.com/TWLBot/overflow-builds.git
  - cd overflow-builds/
  - cp ../Relaunch.7z Relaunch.7z
  - git stage .
  - git commit -m "Relaunch | $COMMIT_TAG"
  - git push origin master
  - export CURRENT_DATE=$(date +'%Y%m%d-%H%M%S')
  - git tag v$CURRENT_DATE

after_failure:
  - echo 'gross breakfast (Build Failed)'
